<form class="profile-search-form" [formGroup]="searchForm">
  <label class="tt-form-label">
    <span class="tt-form-label__text">Ник</span>
    <input type="text" class="tt-form-input" formControlName="username" />
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label__text">Имя</span>
    <input type="text" class="tt-form-input" formControlName="firstname" />
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label__text">Фамилия</span>
    <input type="text" class="tt-form-input" formControlName="lastname" />
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label__text">Навыки</span>
    <input type="text" class="tt-form-input" formControlName="stack" />
  </label>
</form>
