@if (post(); as post) {
  <app-avatar-circle
    [avatarUrl]="post.user.avatar_url"
    class="size32"
  ></app-avatar-circle>
  <main class="post-body">
    <div class="post-header">
      <strong class="post__author"
        >{{ post.user.firstname }} {{ post.user.lastname }}
        <span class="post-created-at">{{
          post.created_at | date: "HH:mm MMMM d, y"
        }}</span>
      </strong>
    </div>
    <p class="medium-text">{{ post.content }}</p>
    <div class="post-counters">
      <span class="comment-amount">
        <svg icon="comment" class="svg16"></svg>
        @if (post.comments) {
          <span class="comments-length">{{ comments().length }}</span>
        } @else {
          <span class="comments-length">0</span>
        }
      </span>
    </div>
    <div class="post__comments-wrapper hidden-scroll">
      @for (comment of comments(); track comment.id) {
        <app-comment [comment]="comment"></app-comment>
      }
    </div>
    <app-post-input
      (created)="onCreated()"
      [postId]="post.id"
      [isCommentInput]="true"
    >
    </app-post-input>
  </main>
}
